@model BitchAbout.Models.ViewModels.RantListViewModel

@{
    ViewData["Title"] = "Index";
}

    <div id="panel" class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Look At All The Bullshit Weighing You Down</h3>
        </div>
        <div class="panel-body">
           
       
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Rant.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rant.Summary)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Rant.Review)
                    </th>*@

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Rants)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Summary)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Review)
                        </td>*@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.RantId">Still Pissed</a> |
                        @*<a asp-action="Details" asp-route-id="@item.RantId">Details</a> |*@
                        <a asp-action="Delete" asp-route-id="@item.RantId">Over It</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
 </div>
   